#center {
	height: 60vh;
}

#b3 {
	color: white;
}

#b3:hover {
	color: #EACD65;
}

#b4 {
	color: #FF9933;
}

#push {
	width: 11%;
}
#pas {
	font-size: 2.5vw;
}
#log {
	margin-left: -12.5%;
}

@media (max-width: 1000px) {
	#push {
		width: 20%;
	}
	#log {
		margin-left: 0;
	}
	#log {
		font-size: 3.5vw;
	}
	#pas {
		font-size: 3.5vw;
	}
	#center {
		height: 112vw;
	}
}